.cta-block
    >.first,>.second,>.third
        color: white
        margin: 0
        padding: 0

    font-size: 50px
    text-transform: uppercase

    > .first
        font-weight: 100

    > .second
        font-weight: 300

    > .third
        font-weight: 400
