.header-block
    $opacity: 0.9
    background: linear-gradient(transparentize($theme-dark, 1 - $opacity), transparentize($theme-light, 1 - $opacity)), url('../img/chess-set.jpg')
    background-size: cover
    background-position: bottom

    .bg
        display: none
        position: absolute
        right: 0
        top: 0
        display: block
        opacity: .3

        transform: rotate(300)



    .cta-block
        padding: 60px 0

        @media (max-width: 900px)
            padding: 80px 0 40px 0
