.logo-block
    display: inline-block
    height: $nav-height
    line-height: $nav-height
    color: white
    text-decoration: none
    display: inline-block
    font-size: 36px
    font-weight: 100

    > strong
        font-weight: 800

    > img
        height: 50px
        margin: 0 auto
