.nav-bar
    height: $nav-height
    padding: 20px

    > .items
        padding: 0
        margin: 0
        display: block
        list-style-type: none
        float: right
        >li
            line-height: $nav-height
            display: inline-block
            margin-left: 1em

            > a
                color: white
                text-decoration: none
                font-size: 20px
                font-weight: 100
